@media (max-width:1200px) {
    .relax_grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:1024px) {
    .featured_item:nth-of-type(1) {
        display: none;
    }

    .featured_grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .footer_grid {
        grid-template-columns: 282px 120px;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width:992px) {
    .featured_item:nth-of-type(5) {
        grid-column: 2 / 3;
    }

    .featured_grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:768px) {
    .suggestion_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .featured_grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .favourite_txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 10px;
    }

    .favourite .container {
        flex-direction: column;
    }

    .favourite_link {
        margin: 0;
    }

    .favourite_title {
        padding: 0;
    }

    .footer_grid {
        grid-template-columns: 300px;
    }

    .footer_item {
        text-align: center;
    }
}

@media (max-width:576px) {
    .header_block {
        justify-content: center;
    }

    .header_img {
        display: none;
    }

    .relax_img {
        width: 460px;
    }
}

@media(max-width:480px) {
    .featured_grid {
        display: flex;
        flex-direction: column;
    }

    .img_relax2 {
        width: 300px;
    }

    .relax_img {
        width: 300px;
    }
}

@media (max-width:425px) {
    .nav_link-img {
        display: none;
    }

    .header_title {
        font-size: 50px;
        line-height: 50px;
    }

    .suggestion_grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .fav_img {
        width: 300px;
    }
}